---
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

<div id="header">
  {% include header.html %}
  {% include nav.html %}
</div>

<div id="body">
  <div class="content">
    <h3 id="palette-title" > City <span>PALETTE</span> </h3>


    <div class="pallete-containter">
      <img src="/assets/img/cityP/metroA.jpg" alt="" />
      <ul>
        <li style="background-color: #D0C735" > #D0C735 </li>
        <li style="background-color: #631212" > #631212 </li>
        <li style="background-color: #F2F4F7; color:#0F0909" > #F2F4F7 </li>
        <li style="background-color: #8D7E82" > #8D7E82 </li>
        <li style="background-color: #4E2F41" > #4E2F41 </li>
        <li style="background-color: #0F0909" > #0F0909 </li>
      </ul>
    </div>

<hr>

    <div class="pallete-containter">
      <img src="/assets/img/cityP/grafitti.jpg" alt="" />
      <ul>
        <li style="background-color: #E4D7A0" > #E4D7A0 </li>
        <li style="background-color: #695C70" > #695C70 </li>
        <li style="background-color: #C9E0F9; color:#0F0909" > #C9E0F9 </li>
        <li style="background-color: #2A76B3" > #2A76B3 </li>
        <li style="background-color: #27276D" > #27276D </li>
        <li style="background-color: #57387C" > #57387C </li>
      </ul>
    </div>

</div>

<div id="footer">
  {% include footer.html %}
</div>


<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
