---
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

<div id="header">
  {% include header.html %}
  {% include nav.html %}
</div>

<div id="body">
  <div class="content">
    <h3 class="title" > Gisbusters projects </h3>

    <div class="project-module">
     {% include project/module-test.html %}
    </div>
  <hr>
    <div class="project-module">
     {% include project/module-test.html %}
    </div>
  <hr>
    <div class="project-module">
     {% include project/module-test.html %}
    </div>
  <hr>
    <div class="project-module">
     {% include project/module-test.html %}
    </div>
  <hr>
    <div class="project-module">
     {% include project/module-test.html %}
    </div>
  </div>
</div>

<div id="footer">
  {% include footer.html %}
</div>


<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
