---
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>


<div id="containter">
  <div id="header">
    {% include header.html %}

    {% include nav.html %}
  </div>

  <div id="body">
    <div class="content">

      <h3 class = "title index-title">Welcome to the Busters Headquarters!</h3>

      <h3 class = "title index-subtitle">
        We transform ideas into maps, for fun and profit.
      </h3>

      <p class = "index-text g-center-text">
        so go ahead, check our projects, meet the Gisbusters members or just stop and say hello!
        <br/>
        We would love that!
      </p>

      {% include featured.html %}
    </div>
  </div>

  
</div>



<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
