---
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>


{% include header.html %}

{% include nav.html %}

<div class="content">

  <h3 class = "title index-title">Wellcome to the Busters Headquarters!</h3>

  <h3 class = "title index-subtitle">
    We transform ideea into maps, for fun and profit.
  </h3>

  <p class = "g-center-text">
    so go ahead, check our projects, meet the Gisbusters members or just stop and say hello!
    <br/>
    We would love that!
  </p>
  <p>
    Check our lates:
  </p>
</div>
{% include featured.html %}

{% include footer.html %}



<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
