<div class="module-text">
  <p class="title">Harta lui Mos Craciun</p>

  <p>
    Harta urmareste traseul lui Mos Craciun prin Romania. Traseul este stabilit cu ajutorul unui satelit special lansat de echipa GisBusters in spatiu.
  </p>

      <a class="read-more-button" href="http://gisbusters.github.io/vine-mosu/">full map</a>
</div>

<div class="module-showcase">
  <a href="http://gisbusters.github.io/vine-mosu/">
    <iframe src="http://gisbusters.github.io/vine-mosu/" width="100%" height="100%"></iframe>
  </a>
</div>
