---
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

<div id="header">
  {% include header.html %}
  {% include nav.html %}
</div>

<div id="body">
  <div class="content">
    <h3 class= "title"> Meet the team </h3>
    <p>
      The Gisbusters team is composed of four young and passionate members, each with his unique set of skills. Together we strive to create maps that stand out and tell storyes like no others.
    </p>

    <!-- andi  -->
    <div class="containter-membru">
      <div class="imagine-membru-andi"></div>
      <h4 class="member-name">Andi Lazar</h4>

      <p class="member-text">
        I specialize in:
      </p>

      <ul class="skill-list" >
        <li>GIS</li>
        <li>Cartography</li>
        <li>Geomorphology</li>
        <li>Database administration</li>
        <li>Open Source map technology</li>
      </ul>

      <p class="member-description">
        I always get involved when discussions about maps arise. I am passionate about designing beautiful maps for print or electronic devices.
      </p>

    </div>

    <!-- andi  -->

    <hr>

    <!-- stefi  -->
    <div class="containter-membru">
      <div class="imagine-membru-stefi member-right-image"></div>
      <h4 class="member-name member-right">Stefania Oancea</h4>

      <p class="member-text member-right">
        I specialize in:
      </p>

      <ul class="skill-list member-right" >
        <li>GIS</li>
        <li>Cartography</li>
        <li>Geomorphology</li>
        <li>Design</li>
        <li>ESRI technology</li>
      </ul>

      <p class="member-description member-right">
      There was a time when I thought a journalism carreer would suit me perfectly, but I've never been so wrong. So I ended up studying Cartography and Geomorphology and I regret nothing! Seems I've always been fond of maps. That, and photography, travelling, trekking, cycling and volunteering too!
      </p>

    </div>
    <!-- stefi  -->
    <hr>
    <!-- oana  -->
    <div class="containter-membru">
      <div class="imagine-membru-oana"></div>
      <h4 class="member-name">Oana Vintan</h4>

      <p class="member-text">
        I specialize in:
      </p>

      <ul class="skill-list" >
        <li>Business analysis</li>
        <li>GIS</li>
        <li>Frontend development</li>
        <li>MsSQL</li>
      </ul>

      <p class="member-description">
        I have a strong background in mapping but also have acquired negotiation skills to better understand and comunicate with the client.
      </p>

    </div>
    <!-- oana  -->
    <hr>
    <!-- paca  -->
    <div class="containter-membru">
      <div class="imagine-membru-paca member-right-image"></div>
      <h4 class="member-name member-right">Mircea Stanciu</h4>

      <p class="member-text member-right">
        I specialize in:
      </p>

      <ul class="skill-list member-right" >
        <li>Web development</li>
        <li>Backend to frontend</li>
        <li>Design</li>
        <li>Server administration</li>
      </ul>

      <p class="member-description member-right">
        I've studied cadastre and started building sites on my own. I strive to become an unicorn: design, build and serve websites.
      </p>

    </div>
    <!-- paca  -->
    </div>

    <div id="member-contact">
        <a id="member-contact-button" href="{{site.url}}/contact/">contact us</a>
    </div>

</div>



<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
