
<div class="featured-projects" >

  <div class="featured-project">
    <div class="title-featured">
      <p>3dmaps</p>
    </div>

    <div class="description-featured">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>

  </div>

  <div class="featured-project">
    <div class="title-featured">
      <p>minecraftmaps</p>
    </div>

    <div class="description-featured">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    </div>

  </div>

  <div class="featured-project">
    <div class="title-featured">
      <p>artmaps</p>
    </div>

    <div class="description-featured">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inc
    </div>

  </div>

</div>
