<div class="containter-membru">
  <h4>Numele membrului </h4>
  <div class="imagine-membru"></div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <ul class="lista-contact-membru" >
    <li>Ma gasesti pe mail</li>
    <li>Ma gasesti pe facebook</li>
    <li>Ma gasesti pe github</li>
    <li>Sunama-sunama</li>
  </ul>

  <p class = "membru-hook"> vorbeste cu mine pentru probleme de genul </p>

</div>
