.featured-projects
  width: 80%
  margin: 0 auto
  height: 150px
  margin-top: 60px
  .featured-project
    width: 33.33%
    float: left
    display: block
    overflow: hidden

.title-featured
  background: #231F1B
  width: 100%
  height: 50px
  line-height: 50px
  color: #fff
  border: 2px solid #fff
  font-weight: bold
  text-align: center

.description-featured
  width: 100%
  height: 100px
  padding: 5px
  color: black
