.featured-projects
  width: 90%
  margin: 0 auto
  height: 800px
  max-width: 1200px
  background: $buster-color
  border: 6px solid $buster-color
  a
    display: block
    width: 100%
    height: 100%
    background-color: #3c3c3c
  iframe
    pointer-events: none
    border: 3px solid darken($buster-color, 10%)
