.footer
  position: absolute
  bottom: 0
  left: 0
  right: 0
.footer-members
  margin: 0
  padding: 0
  list-style-type: none
  li
    display: block
    width: 25%
    height: 150px
    float: left
    border-left: 2px solid #fff
    background: cyan
    text-align: center

.copywrite
  background-color: #1a1a1a
  color: #fff
  margin: 0
  text-align: center
