.header
  text-align: center
  background-image: url("http://www.wired.com/images_blogs/wiredscience/2013/08/1416v1_20130827-6Months_Wildfires.png")
  background-size: cover
.site-title
  text-transform: uppercase
  font-weight: bold
  margin: 0
  font-size: 6em
  color: rgba(255, 246, 246, 0.8)

.motto
  margin: 0
  font-size: 1.8em
  color: rgba(255, 246, 246, 0.5)
