.header
  height: 200px
  background: cyan
  text-align: center
  clear: both
.title
  text-transform: uppercase
  font-weight: bold
  margin: 0
  font-size: 6em
  color: rgba(0,0,0,0.3)

.motto
  margin: 0
  font-size: 1.8em
  color: rgba(0,0,0,0.2)
