.header-container
  text-align: center
  background: #3c3c3c
  background-image: url("/assets/img/header.png")
  background-size: cover
  padding: 10px
  background-position: bottom
  min-height: 200px
.site-title
  display: block
  text-transform: uppercase
  color: $buster-color
  font-weight: bold
  margin: 0
  font-size: 8em
  font-family: 'Montserrat', sans-serif
  line-height: 200px
  &:hover
    color: $buster-color

@media (max-width: 750px)
  .site-title
    font-size: 5em

@media (max-width: 500px)
  .site-title
    font-size: 3em


@media (max-width: 300px)
  .site-title
    font-size: 2em
