.project-module
  display: inline-block
  height: 350px
  text-align: center
  margin: 20px 0
  clear: both

.module-map
  width: 60%
  height: 100%
  float: left

.module-text
  width: 40%
  float: right
  .title
    font-size: 1.6em
    font-weight: bold
    margin: 10px 0
